{% extends 'base.html.twig' %}

{% block title %}Eleve!{% endblock %}

{% block body %}
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Student registration </h3>
                <div class="form-group row">
                    <div class="col-md-3">
                        <a class="btn btn-primary" href="{{ path('app_home_dashboard') }}"> Retour</a>
                    </div>
                </div>
                {{ form_start(form) }}
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      {{ form_widget(form.nom) }}
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      {{ form_widget(form.matricule) }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      {{ form_widget(form.naissance) }}
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      {{ form_widget(form.ville) }}
                    </div>
                  </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  {{ form_widget(form.pere) }}
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  {{ form_widget(form.mere) }}
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    {{ form_widget(form.classe) }}
                  </div>
                  <div class="col-md-6 mb-4">
                    {{ form_widget(form.sexe) }}
                  </div>
                </div>


                <div data-mdb-input-init class="form-outline mb-4">
                  {{ form_widget(form.telephone) }}
                </div>

                

                <div class="d-flex justify-content-end pt-3">
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg">Reset all</button>
                  <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2">Enregistrer</button>
                </div>

              </div>
            {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="text-center text-white mt-5">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © YOBS PRODUCTIONS {{ 'now'|date('Y') }} - Tous droits réservés
  </div>
</footer>
{% endblock %}
