{% extends 'base.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {# Vos fichiers CSS Bootstrap habituels ici #}
</head>

<body class="bg-gradient-primary">
{% include "navbar.html.twig" %}
<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tableactif" width="100%" cellspacing="0" data-page-length='25' data-order='[[0, "desc"]]'>
                                    <thead>
                                       
                                        <tr>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>Matricule</th>
                                            <th>Age</th>
                                            <th>Telephone</th>
                                            <th>Classe</th>
                                            <th>Sexe</th>
                                            <th>Date</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>Matricule</th>
                                            <th>Age</th>
                                            <th>Telephone</th>
                                            <th>Classe</th>
                                            <th>Sexe</th>
                                            <th>Date</th>
                                            <th>Operation</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for eleve in eleves %}
                                            <tr>
                                                <td>{{ eleve.id }}</td>                                     
                                                <td>{{ eleve.nom }}</td>
                                                <td>{{ eleve.matricule }}</td>
                                                <td>{{ eleve.age }}</td>
                                                <td>{{ eleve.telephone }}</td>
                                                <td>{{ eleve.classe.nom }}</td>
                                                <td>{{ eleve.sexe }}</td>
                                                <td>{{ eleve.naissance | date('Y-m-d') }}</td> 
                                                
                                                    <td>
                                                        <a href='{{ path('eleve_edite_edite', {'id': eleve.id}) }}' class='btn btn-primary' ><i class='fas fa-pencil-alt '></i></a>
                                                        <a href='{{ path('app_eleve_delete', {'id': eleve.id}) }}' class='btn btn-danger' onclick='return confirm("Êtes-vous sûr de vouloir supprimer cet row ? si vous suprimer cet row elle sera supprimer du stock");' id='suppresioner'><i class='fas fa-trash-alt'></i></a>
                                                        <a href='#' class='btn btn-primary' id='modification'><i class='far fa-file-image'></i></a>
                                                        <a href='{{ path("app_eleve_print", {"id": eleve.id}) }}' class='btn btn-primary' id='modification'><i class='fas fa-download'></i></a>
                                                    </td>
                                                
                                            </tr> 
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
            </div>
        </div>
    </div>

</main>
{% include "footer.html.twig" %}
</body>
</html> 
{% endblock %}
