{% extends 'base.html.twig' %}

{% block title %}Dashboard | YOBS{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}

    <main class="flex-shrink-0 my-5">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
            </div>

            <div class="row">
                {# Carte : Classes #}
                <div class="col-xl-8 col-md-10 mb-4">
                    <div class="card shadow">
                        <div class="card-header bg-primary text-white">
                            <h3 class="card-title mb-0">Statiatique generale</h3>
                        </div>
                        <div class="card-body">
                            
                            {# C'est cette ligne unique qui affiche votre courbe #}
                            {{ render_chart(monGraphique) }}
                            
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-0 border-start border-success border-4 shadow h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-grow-1">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                       Information Ecole
                                    </div>
                                    <div class="h5 mb-1 font-weight-bold text-gray-800">
                                        Nom : <span class="text-primary">{{ ecole.nom }}</span>
                                    </div>
                                    <div class="small mb-0 font-weight-bold text-muted">
                                        <i class="fas fa-user-tie text-gray-300 me-2"></i>Enseignant : {{enseignantCount}} <span class="text-dark">
                                            
                                        </span>
                                        {% for enseignant in enseignants %}
                                        <div class=" mb-1 font-weight-bold ">
                                            <i class="fas fa-user-tie text-gray-300 me-2"></i> 
                                            <span class="text-dark">
                                                {% if enseignant.genre == 'Masculin' %}
                                                    Mr . 
                                                {% else %}
                                                    Mm .
                                                {% endif %}
                                                
                                                {{ enseignant.nom }} {{ enseignant.prenom }} 
                                                :  {{ enseignant.contact }} 
                                            </span>
                                            </br>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ms-2">
                                    logo
                                </div>
                            </div>

                            <hr class="my-2 text-gray-200">

                            <div class="d-flex justify-content-between align-items-center pt-2">
                                <a href="{{path('app_ecole_edit',{'id': ecole.id})}}" class="btn btn-sm btn-outline-primary border-0">
                                    <i class="fas fa-edit me-1"></i> Modifier
                                </a>
                                <a href="#" class="btn btn-sm btn-outline-warning border-0">
                                    <i class="fas fa-list"></i> Eleves
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-0 border-start border-success border-4 shadow h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-grow-1">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                       Pensiont niveau 1
                                    </div>
                                    <div class="h5 mb-1 font-weight-bold text-gray-800">
                                        Nom : <span class="text-primary">{{ ecole.nom }}</span>
                                    </div>
                                    <div class="small mb-0 font-weight-bold text-muted">
                                        <i class="fas fa-user-tie text-gray-300 me-2"></i>Montant : <span class="text-dark">
                                            {% for item in pensiont1 %}
                                                <strong>{{ item.montant }}</strong>
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>
                                
                            </div>

                            <hr class="my-2 text-gray-200">
                            {% for item in pensiont1 %}
                                <div class="d-flex justify-content-between align-items-center pt-2">
                                    <a href="{{ path('app_pensiont_edit',{'id': item.id}) }}" class="btn btn-sm btn-outline-primary border-0">
                                        <i class="fas fa-edit me-1"></i> Modifier {{item.createtAt | date('Y-m-d')}}
                                    </a>
                                    <a href="{{ path('app_pensiont_delete', {'id': item.id}) }}" class="btn btn-sm btn-danger border-0">
                                        <i class="fas fa-trash-alt"></i> Delete {{item.createtAt | date('Y-m-d')}}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-0 border-start border-success border-4 shadow h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-grow-1">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                       Pensiont niveau 2
                                    </div>
                                    <div class="h5 mb-1 font-weight-bold text-gray-800">
                                        Nom : <span class="text-primary">{{ ecole.nom }}</span>
                                    </div>
                                    <div class="small mb-0 font-weight-bold text-muted">
                                        <i class="fas fa-user-tie text-gray-300 me-2"></i>Montant : <span class="text-dark">
                                            {% for item in pensiont2 %}
                                                <strong>{{ item.montant }}</strong>
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>
                                
                            </div>

                            <hr class="my-2 text-gray-200">
                            {% for item in pensiont2 %}
                                <div class="d-flex justify-content-between align-items-center pt-2">
                                    <a href="{{ path('app_pensiont_edit',{'id': item.id}) }}" class="btn btn-sm btn-outline-primary border-0">
                                        <i class="fas fa-edit me-1"></i> Modifier {{item.createtAt | date('Y-m-d')}}
                                    </a>
                                    <a href="{{ path('app_pensiont_delete', {'id': item.id}) }}" class="btn btn-sm btn-danger border-0">
                                        <i class="fas fa-trash-alt"></i> Delete {{item.createtAt | date('Y-m-d')}}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-md-6 mb-4">
                    <div class="card border-0 border-start border-warning border-4 shadow h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Recapitulatif Generale de la Caisse
                                </div>
                            </div>

                            <hr class="my-2 text-gray-200">
                            <div class="d-flex justify-content-between align-items-center pt-2">
                                    <a href="#" class="btn btn-sm btn-primary border-0">
                                        <i class="fas fa-money-bill"></i>Total Inscription :  {{ sommeinscription }} FCFA
                                    </a>
                                    <a href="#" class="btn btn-sm btn-warning border-0">
                                        <i class="fas fa-money-bill"></i>Total scolarité : {{sommesolde}} FCFA
                                    </a>
                                    <a href="#" class="btn btn-sm btn-success border-0">
                                        <i class="fas fa-money-bill"></i>Total Tenue : {{sommetenue}} FCFA
                                    </a>
                                    <a href="#" class="btn btn-sm btn-info border-0">
                                        <i class="fas fa-money-bill"></i>Total Inscription + scolarité +Tenue : {{sommetenue + sommeinscription + sommesolde}} FCFA
                                    </a>
                            </div>
                            <hr class="my-2 text-gray-200">
                            <div class="d-flex justify-content-between align-items-center pt-2">
                                    <a href="#" class="btn btn-sm btn-secondary border-0">
                                        <i class="fas fa-money-bill"></i>Total Sortie caisse :  {{ sortiecaisse }} FCFA
                                    </a>
                                    <a href="#" class="btn btn-sm btn-dark border-0">
                                        <i class="fas fa-money-bill"></i>Total Entrée caisse : {{entrecaisse}} FCFA
                                    </a>
                                    <a href="#" class="btn btn-sm btn-light border-0">
                                        <i class="fas fa-money-bill"></i>Total Entrée + Sortie : {{ entrecaisse + sortiecaisse}} FCFA
                                    </a>
                                    <a href="#" class="btn btn-sm btn-danger border-0">
                                        <i class="fas fa-money-bill"></i>Net en caisee : {{sommetenue + sommeinscription + sommesolde + entrecaisse + sortiecaisse}} FCFA
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-6 col-md-6 mb-4">
                    {# Carte du Graphique (Style Bootstrap) #}
                    <div class="card shadow-sm border-0 rounded-3 bg-white">
                        <div class="card-header bg-white d-flex justify-content-between align-items-center py-3 border-bottom-0">
                            <h6 class="m-0 fw-bold text-primary">Graphique Fille / Garcon</h6>
                            <i class="fas fa-ellipsis-v text-muted" style="cursor: pointer;"></i>
                        </div>
                        
                        <div class="card-body text-center pt-0">
                            <div style="height: 320px;">
                            {# La fonction magique de Symfony UX #}
                            {{ render_chart(monGraphique) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                
                
            </div>
        </div>
    </main>

    {% include "footer.html.twig" %}
{% endblock %}