{% extends 'base.html.twig' %}

{% block title %}Dashboard.html.twig{% endblock %}

{% block body %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ asset('css/barge.css') }}" rel="stylesheet">
    <title>GESTION DE STOCK</title>

    <!-- Custom fonts for this template-->
    
    <style>
        .start{
            color: gold;
        }
        .amount{
            display: none;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
      {# # {% include "navbar.html.twig" %} #}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column ">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    
                    <!-- Content Row data-bs-toggle="modal" data-bs-target="#monModal" -->
                    <div class="row">
                
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{{ path('app_classe') }}" class="btn" >
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                        
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                              <i class="fas fa-plus fa-2x text-gray-300"></i>  CREER UNE CLASSE
                                                    
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                         <!-- Earnings (Monthly) Card Example -->
                         <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{{ path('app_eleve') }}">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                        
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <i class="fas fa-plus fa-2x text-gray-300"></i>  AJOUTER UN ELEVE
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        <!-- Earnings (Monthly) Card Example data-bs-toggle="modal" data-bs-target="#monModal" -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{{ path('app_eleve_liste') }}">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <i class="fas fa-list fa-2x text-gray-300"></i>  LISTE ELEVE
                                            </div>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{{ path('app_download') }}">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <i class="fas fa-list fa-2x text-gray-300"></i>  Telecharger la liste
                                            </div>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                       
                        <!-- Earnings (Monthly) Card Example -->
                          

                      
                    </div>

                    <!-- Content Row -->

                    

                    <!-- Content Row -->
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="text-center text-white mt-5">
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © YOBS PRODUCTIONS {{ 'now'|date('Y') }} - Tous droits réservés
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->

    <!-- Bootstrap core JavaScript-->
      
</body>
</html>

{% endblock %}