{% extends 'base.html.twig' %}

{% block title %}Dashboard | YOBS{% endblock %}

{% block body %}
    {% include "navbarsg.html.twig" %}

    <main class="flex-shrink-0 my-5">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Tableau de bord Surveillance Generale</h1>
            </div>

            <div class="row">
                {# Carte : Classes #}
                

                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-0 border-start border-success border-4 shadow h-100">
                        <div class="card-body">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Eleve a chasser
                            </div> 
                            <div class="h5 mb-1 font-weight-bold text-gray-800">
                                Liste
                            </div> 
                            {% for eleve in eleves %}
                                <div class=" mb-1 font-weight-bold ">
                                        <span class="text-dark"> 
                                            {% set montant = 3 %} 
                                            {% for solde in eleve.soldes %}
                                                {% set montant = solde.reste %}
                                            {% endfor %} 
                                            {% if montant == 3 %}
                                                <i class="fas fa-user-tie text-gray-300 me-2"></i> 
                                                {{ eleve.nom }} {{ eleve.prenom }}
                                                <span class="text text-danger">Il n'a rien payé</span>
                                            {% elseif montant > 3 %}
                                                <i class="fas fa-user-tie text-gray-300 me-2"></i> 
                                                {{ eleve.nom }} {{ eleve.prenom }}
                                                <span class="text text-primary">reste : {{montant}}</span>
                                            {% endif %}
                                            
                                        </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6 mb-4">
                    {# Carte du Graphique (Style Bootstrap) #}
                    <div class="card shadow-sm border-0 rounded-3 bg-white">
                        <div class="card-header bg-white d-flex justify-content-between align-items-center py-3 border-bottom-0">
                            <h6 class="m-0 fw-bold text-primary">Graphique Fille / Garcon</h6>
                            <i class="fas fa-ellipsis-v text-muted" style="cursor: pointer;"></i>
                        </div>
                        
                        <div class="card-body text-center pt-0">
                            <div style="height: 320px;">
                            {# La fonction magique de Symfony UX #}
                            {{ render_chart(monGraphique) }}
                            </div>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </main>

    {% include "footer.html.twig" %}
{% endblock %}