{% extends 'base.html.twig' %}

{% block title %}Hello EcoleController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>enregisterer ecole</title>
</head>
<body class="bg-indigo">  
<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <h1 class="text-center text-white mb-5">Enregistrer une école</h1>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                {{ form_start(form) }}
                
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #4835d4;">Identité administrative</h3>

                  <div class="row">
                    <div class="col-md-12 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        {{ form_widget(form.nom) }}
                        <label class="form-label" for="form3Examplev2">Entrez le nom de l'école</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div data-mdb-input-init class="form-outline">
                        {{ form_widget(form.directeur) }}
                        <label class="form-label" for="form3Examplev5">Entrez le nom du directeur</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        {{ form_widget(form.sigle) }}
                        <label class="form-label" for="form3Examplev3">Entrez le sigle de l'école</label>
                      </div>
                    </div> 
                    <div class="col-md-6 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline">
                        {{ form_widget(form.type) }}
                        <label class="form-label" for="form3Examplev2">Entrez le type de l'école</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    
                    <div class="col-md-6 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline">
                        {{ form_widget(form.code) }}
                        <label class="form-label" for="form3Examplev3">Entrez le code de l'école</label>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                      <div data-mdb-input-init class="form-outline">
                        {{ form_widget(form.createAt) }}
                        <label class="form-label" for="form3Examplev5">Date de création</label>
                      </div>
                    </div>
                    
                  </div>

                </div>
              </div>
            <div class="col-lg-6 bg-primary text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Localisation & Contacts</h3>

                  <div class="mb-4 pb-2">
                    <div data-mdb-input-init class="form-outline form-white">
                       {{ form_widget(form.adresses) }}
                      <label class="form-label" for="form3Examplea2">Entrez l'adresse de l'école</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div data-mdb-input-init class="form-outline form-white">
                      {{ form_widget(form.telephone) }}
                      <label class="form-label" for="form3Examplea3">Entrez le numéro de téléphone</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">
                      <div data-mdb-input-init class="form-outline form-white">
                        {{ form_widget(form.departement) }}
                        <label class="form-label" for="form3Examplea4">Entrez le département</label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div data-mdb-input-init class="form-outline form-white">
                        {{ form_widget(form.region) }}
                        <label class="form-label" for="form3Examplea5">Entrez la région</label>
                      </div>

                    </div>
                  </div>

                  <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg"
                    data-mdb-ripple-color="dark">Enregistrer</button>

                </div>
                {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="text-center text-white mt-5">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © YOBS PRODUCTIONS {{ 'now'|date('Y') }} - Tous droits réservés
  </div>
</footer>
</body>
</html>
{% endblock %}
