{% extends 'base.html.twig' %}

{% block title %}YOBSTIE{% endblock %}

{% block body %}
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-12">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Inscription Eleve </h3>
                <div class="form-group row">
                    <div class="col-md-3">
                        <a class="btn btn-primary" href="{{ path('app_home_dashboard') }}"> Retour</a>
                    </div>
                </div>
                {{ form_start(form) }}
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      {{ form_label(form.classe) }}
                      <input type="text" id="rechercheclasse" onkeyup="InscriptionClasse()" class="form-control form-control-lg" placeholder="Rechercher une Classe...">
                      {{ form_widget(form.classe,{
                        'attr': {
                                'size': 5,
                          }
                      }) }}
                    </div>
                  </div>
                  
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                        {{ form_label(form.eleve) }}
                        <input type="text" id="recherche" onkeyup="Inscription()" class="form-control form-control-lg" placeholder="Rechercher un élève...">
                        {{ form_widget(form.eleve,{
                            'attr': {
                                'size': 5,
                            }
                        }) }}
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                        {{ form_label(form.createtAt) }}
                        {{ form_widget(form.createtAt) }}
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      {{ form_label(form.paiement) }}
                      {{ form_widget(form.paiement) }}
                    </div>
                  </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                <span class="text-warning" id="message-box2">
              
                </span>
                  {{ form_label(form.montant) }}
                  {{ form_widget(form.montant) }}
                </div>
                
                <div data-mdb-input-init class="form-outline mb-4">
                  {{ form_label(form.remise) }}
                  {{ form_widget(form.remise) }}
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  {{ form_label(form.avance) }}
                  {{ form_widget(form.avance) }}
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  {{ form_label(form.reste) }}
                  {{ form_widget(form.reste) }}
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg">Reset all</button>
                  <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2">Enregistrer</button>
                </div>

              </div>
            {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="text-center text-white mt-5">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © YOBS PRODUCTIONS {{ 'now'|date('Y') }} - Tous droits réservés
  </div>
</footer>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/recherche/recherche.js') }}"></script>
{% endblock %}


