{% extends 'base.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tableactif" width="100%" cellspacing="0" data-page-length='25' data-order='[[0, "desc"]]'>
                                    <thead>
                                       
                                        <tr>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Matricule</th>
                                            <th>Date Embauche</th>
                                            <th>Grade</th>
                                            <th>Contact</th>
                                            <th>Date</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Matricule</th>
                                            <th>Date_embauche</th>
                                            <th>Grade</th>
                                            <th>contact</th>
                                            <th>Date</th>
                                            <th>Operation</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for enseignant in ensignants %}
                                            <tr>
                                                <td>{{ enseignant.id }}</td>                                     
                                                <td>{{ enseignant.nom }}</td>
                                                <td>{{ enseignant.prenom }}</td>
                                                <td>{{ enseignant.matricule }}</td>
                                                <td>{{ enseignant.dateEmbauche | date('Y-m-d') }}</td>
                                                <td>{{ enseignant.grade}}</td>
                                                <td>{{ enseignant.contact }}</td>
                                                <td>{{ enseignant.createtAt | date('Y-m-d') }}</td> 
                                                
                                                    <td>
                                                        <a href='{{ path('app_enseignant_edit', {'id': enseignant.id})}}' class='btn btn-primary' ><i class='fas fa-pencil-alt '></i></a>
                                                        <a href='{{ path('app_enseignant_delete', {'id': enseignant.id})}}' class='btn btn-danger' onclick='return confirm("Êtes-vous sûr de vouloir supprimer cet row ? si vous suprimer cet row elle sera supprimer du stock");' id='suppresioner'><i class='fas fa-trash-alt'></i></a>
                                                        <a href='#' class='btn btn-primary' id='modification'><i class='far fa-file-image'></i></a>
                                                        <a href='{{ path("app_eleve_print", {"id": enseignant.id}) }}' class='btn btn-primary' id='modification'><i class='fas fa-download'></i></a>
                                                    </td>
                                                
                                            </tr> 
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
            </div>
        </div>
    </div>

</main>
{% include "footer.html.twig" %}
{% endblock %}