{% extends 'base.html.twig' %}

{% block title %}YOBSTIE{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length='25' data-order='[[0, "desc"]]'>
                                    <thead>
                                       
                                        <tr>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>classe</th>
                                            <th>montant</th>
                                            <th>avance</th>
                                            <th>reste</th>
                                            <th>Type paiement</th>
                                            <th>Date</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>classe</th>
                                            <th>montant</th>
                                            <th>avance</th>
                                            <th>reste</th>
                                            <th>Type paiement</th>
                                            <th>Date</th>
                                            <th>Operation</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for solde in soldes %}
                                            <tr>
                                                <td>{{ solde.id }}</td>                                     
                                                <td>{{ solde.eleve.nom }}</td>
                                                <td>{{ solde.classe.nom }}</td>
                                                <td>{{ solde.montant }}</td>
                                                <td>{{ solde.avance }}</td>
                                                <td>{{ solde.reste}}</td>
                                                <td>{{ solde.typepaiement }}</td>  
                                                <td>{{ solde.createtAt | date('Y-m-d') }}</td> 
                                                
                                                    <td>
                                                        <a href='{{ path('app_solde_edit', {'id':solde.id}) }}' class='btn btn-primary' ><i class='fas fa-pencil-alt '></i></a>
                                                        <a href='#' class='btn btn-primary' id='modification'><i class='far fa-file-image'></i></a>
                                                        <a href='{{ path("app_solde_facture", {"id": solde.id}) }}' class='btn btn-primary' id='modification'><i class='fas fa-download'></i></a>
                                                    </td>
                                                
                                            </tr> 
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
            </div>
        </div>
    </div>

</main>
{% include "footer.html.twig" %}
{% endblock %}