{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="
        margin-top: -200px;
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">creer un compte</h2>
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div data-mdb-input-init class="form-outline">
                  {{ form_row(registrationForm.nom) }}
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div data-mdb-input-init class="form-outline">
                  {{ form_row(registrationForm.prenom) }}
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div data-mdb-input-init class="form-outline mb-4">
                  {{ form_row(registrationForm.email) }}
                </div>
              </div>
              <!-- Password input -->

              
            </div>
            
            <!-- Checkbox -->
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="user-role">Attribuer un rôle :</label>
                    <select id="user-role" name="role" class="form-control">
                        <option value="" disabled selected>Choisir un rôle...</option>
                        <option value="ROLE_DIRECTEUR">Directeur</option>
                        <option value="ROLE_SG">Surveillant generale</option>
                        <option value="ROLE_ENSIEGNANT">Ensiegnant</option> 
                    </select>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline mb-4">
                    {{ form_row(registrationForm.langue) }}
                  </div>
                </div>
            </div>
            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
              Register
            </button>

            <!-- Register buttons -->
          {{ form_end(registrationForm) }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
{% endblock %}
